.card {
    border-radius: 10px;
    padding: 6px;
    max-width: 250px;
    padding: -20px;
    margin-bottom: 20px;
    background-color: #fff;

    &__photo {
        border-radius: 8px;
        height: 250px;
        object-fit: cover;
        cursor: pointer;
    }

    &__informations {
        background-color: white;
        padding: 8px;
    }

    &__informations-username {
        font-size: 18px;
        font-weight: bold;
    }

    &__informations-location {
        margin-left: -2px;
        margin-bottom: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }

    &__informations-location-icon {
        color: #5d5d5d;
        width: 16px;
        height: 16px;
    }

    &__redirect {
        cursor: pointer;
    }
    
    &__informations-location-text {
        font-size: 14px;
    }


    &__informations-bio {
        color: #5d5d5d;
        text-align: left;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5em;
        max-height: 6em;
        font-size: 12px;
    }

    &__interests {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 10px;
        gap: 4px;
    }

    &__tag {
        color: var(--primary-color);
        font-size: 12px;
        padding: 4px;
        display: flex;
        justify-content: center;
        min-width: 40px;
        height: 30px;
        border: 1px solid var(--secondary-color);
        border-radius: 4px;
        text-align: center;
        align-items: center;
    }

    &__swipe {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: -30px;
    }

    &__swipe-heart {
        width: 32px;
        height: 32px;
    }

    &__swipe-cross {
        width: 30px;
        height: 30px;
    }

}