@import '../../../styles/variables';

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 20px;
}
  
.form {
  width: 300px;
  padding: 20px;
}
  
.form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--primary-color);
  outline: none;
}

.form label {
  color: var(--secondary-color);
  font-weight: bold;
}

.form button {
  width: 100%;
}

body .button-logout {
  position: fixed;
  top: 16px;
  right: 16px;
}

.new_member {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin-top: 8px;
}

.new_member-question {
  color: var(--secondary-color);
}

.new_member-creation {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: underline;
}

.bad-credentials {
  position: fixed;
  top: 160px;
  margin-left: 630px;
  color: red;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  border-radius: 40px;
  margin-top: 18px;
}
