.reset-password {
    &__form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
    }
    &__helper {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        margin-top: 8px;
      }
      &__helper-question {
        color: var(--secondary-color);
      }
      &__helper-password-updated {
        color: var(--important-message);
        margin-bottom: 8px;
      }
      &__helper-link {
        color: var(--primary-color);
        font-weight: bold;
        text-decoration: underline;
      }
    &__first-message {
        @media only screen and (max-width: 480px) {
            width: 300px;
        }
        color: var(--primary-color);
        width: 450px;
        text-align: center;
    }
}

.form {
    width: 300px;
    padding: 20px;
}

.form input {
    width: 100%;
    background-color: transparent;
    margin-bottom: 15px;
    padding: 6px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    outline: none;
}

.form label {
    font-weight: bold;
}

.form button {
    width: 100%;
}
  