@import '../../styles/variables';

:root {
    @media only screen and (max-width: 480px) {
        font-size: 12px;
    }
}

.profile {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;

    &__main-title {
        color: var(--primary-color);
        text-align: center;
        margin-bottom: 24px;
    }

    &__title {
        color: var(--primary-color);
        font-weight: bold;
        text-decoration: underline;
    }

    &__info-container {
        display: flex;
        gap: 16px;
        flex-direction: row;
        margin-bottom: 4px;
    }

    &__update-button  {
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        color: white;
        background-color: var(--primary-color);
        border-radius: 6px;
        width: 60px;
        height: 24px;
    }

    &__update-input  {
        background-color:  transparent;
        border: 1px solid var(--secondary-color);
        border-radius: 4px;
        color: var(--primary-color);
    }

    &__info {
        color: var(--primary-color);
    }

    &__radio-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__radio-button div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 120px;
    }

    &__radio-button-input {
        margin-right: 8px;
    }

    &__radio-button-text {
        font-weight: bold;
    }

    &__profile-picture-uploader {
        font-weight: bold;
    }

    &__interests-container {
        margin-top: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    &__interests {
        @media only screen and (max-width: 600px) {
            font-size: 12px;
            width: 110px;
        }

        cursor: pointer;
        color: var(--primary-color);
        padding: 4px;
        display: flex;
        justify-content: center;
        width: 180px;
        height: 60px;
        border: 1px solid var(--secondary-color);
        border-radius: 4px;
        text-align: center;
        align-items: center;

        &__selected {
            @media only screen and (max-width: 600px) {
                font-size: 12px;
                width: 110px;
            }

            cursor: pointer;
            color: white;
            padding: 4px;
            display: flex;
            justify-content: center;
            width: 180px;
            height: 60px;
            border: 1px solid var(--secondary-color);
            border-radius: 4px;
            text-align: center;
            align-items: center;
            background-color: var(--primary-color);
        }
    }
}

.profile form {
    display: flex;
    flex-direction: column;
}

.profile input[type="text"],
.profile select,
.profile textarea {
    background-color: transparent;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
    border-radius: 4px;
}


.button-info {
    width: 100%;
    margin-top: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.photo-upload-container {
    display: grid;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.photo-placeholder {
    @media only screen and (max-width: 600px) {
        width: 80px;
        height: 80px;
    }

    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.upload-text {
    position: absolute;
    color: var(--primary-color);
    text-align: center;
}

.profile input[type="radio"] {
    display: none;
}

.profile input[type="radio"]:checked+label::before {
    border-color: var(--primary-color);
    background: var(--secondary-color);
}

.profile label {
    position: relative;
    padding: 10px;
    cursor: pointer;
    color: var(--primary-color);
}

.profile label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background: white;
}