@import '../../styles/variables';

.profile {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 60px;
  &__title {
    color: var(--primary-color);
    margin-top: 8px;
  }
  &__sexual-preference {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__sexual-preference--input {
    margin-right: 8px;
  }
}

.profile form {
  display: flex;
  flex-direction: column;
}

.profile input[type="text"],
.profile select,
.profile textarea {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.photo-upload-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.button-info {
  margin-top: 20px;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

.photo-placeholder {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.photo-placeholder:hover {
  background-color: var(--secondary-color)
}

.upload-text {
  position: absolute;
  color: white;
  text-align: center;
}


input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label::before {
    border-color: var(--primary-color);
    background: var(--secondary-color);
}

label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
}

label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background: white;
}
