.button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: border-radius 0.3s ease;
    &:hover {
      background-color: var(--primary-color);
      border-radius: 8px;
    }
}