@import "../../styles/variables";

.profile {
  border-radius: 10px;
  margin-bottom: 20px;
  margin: auto;
  padding: 12px;

  &__web-layout {
    @media only screen and (max-width: 950px) {
      justify-content: center;
      flex-direction: column;
      gap: 0px;
    }

    display: flex;
    justify-content: space-evenly;
    // gap: 100px;
    flex-direction: row;
  }

  &__main-title {
    text-align: center;
    margin-bottom: 24px;
  }

  &__title {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
    padding: 4px;
  }

  &__info-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-bottom: 4px;
  }

  &__update-button {
    width: 70px;
    height: 24px;
    font-size: 12px;
  }

  &__update-input {
    background-color: transparent;
    padding: 6px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
  }

  &__radio-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__radio-button div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 120px;
  }

  &__radio-button-input {
    margin-right: 8px;
  }

  &__radio-button-text {
    font-weight: bold;
  }

  &__profile-picture-uploader {
    font-weight: bold;
  }

  &__interests-container {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  &__interests {
    cursor: pointer;
    padding: 4px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    text-align: center;
    align-items: center;

    &__selected {
      cursor: pointer;
      color: white;
      padding: 4px;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 60px;
      border: 1px solid var(--secondary-color);
      border-radius: 4px;
      text-align: center;
      align-items: center;
      background-color: var(--primary-color);
    }
  }
}

.profile form {
  display: flex;
  flex-direction: column;
}

.profile input[type="text"],
.profile select,
.profile textarea {
  background-color: transparent;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

.button-info {
  @media only screen and (max-width: 600px) {
    width: 300px;
  }

  display: flex;
  justify-content: center;
  margin: auto;
  width: 400px;
  margin-top: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.photo-upload-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.photo-placeholder {
  width: 100%;
  padding-top: 100%;
  // position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
}

.upload-text {
  position: absolute;
  text-align: center;
}

.profile input[type="radio"] {
  display: none;
}

.profile input[type="radio"]:checked+label::before {
  border-color: var(--primary-color);
  background: var(--secondary-color);
}

.profile label {
  position: relative;
  padding: 4px;
  cursor: pointer;
  // color: var(--primary-color);
}

.profile label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background: white;
}

.other-hidden {
  display: none;
}

.lol {
  @media only screen and (max-width: 950px) {
    width: 100%;
  }

  width: 30%;
}
