<!doctype html>
<form method="POST">
  <input type="text" name="email" placeholder="Enter your email">
  <button type="submit">Send reset link</button>
</form>
<script>
  document.querySelector('form').addEventListener('submit', function(e) {
    e.preventDefault();
    fetch('/auth/forgot_password', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        email: document.querySelector('input[name="email"]').value
      })
    })
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error('Error:', error));
    });
</script>
