<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <h1>Login</h1>
    {% from 'form_macros.html' import render_field %}
    <form id="loginForm" method="POST">
      {{ form.hidden_tag() }}
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
      <button type="submit">{{ form.submit.label }}</button>
    </form>

    <script>
      document.getElementById('loginForm').addEventListener('submit', function (e) {
        e.preventDefault();
        const formData = new FormData(this);
        const jsonData = {
          username: formData.get('username'),
          password: formData.get('password'),
        };

        fetch('/auth/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(jsonData)
        })
          .then(response => response.json())
          .then(data => console.log(data))
          .catch(error => console.error('Error:', error));
      });
    </script>
</body>

</html>
