<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <h1>Register</h1>
      {% from 'form_macros.html' import render_field %}
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.password2) }}
        <button type="submit">{{ form.submit.label }}</button>
      </form>
    </div>
  </body>
</html>
