<!doctype html>
<div class='container'>
  <h1>Reset your password</h1>
  {% from 'form_macros.html' import render_field %}
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.password) }}
    {{ render_field(form.password2) }}
    <button type="submit">{{ form.submit.label }}</button>
  </form>
</div>
<script>
  document.querySelector('form').addEventListener('submit', function(e) {
    e.preventDefault();
    const formData = new FormData(this);
    const jsonData = {
      password: formData.get('password'),
      password2: formData.get('password2'),
    };
    const params = new URLSearchParams(window.location.search);
    const token = params.get('token');
    console.log(token);
    const url = `/auth/reset_password/${token}`;

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(jsonData)
    })
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error('Error:', error));
    });
</script>
