@import '../styles/variables';

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
  
.form {
  width: 300px;
  padding: 20px;
}
  
.form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--primary-color);
  outline: none;
}

.form label {
  color: var(--secondary-color);
  font-weight: bold;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: var(--secondary-color);
  }
}

.link {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-top: 8px;
  &:hover {
    background-color: var(--secondary-color);
  }
}

.button-logout {
  position: fixed;
  top: 16px;
  right: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: var(--secondary-color);
  }
}

.bad-credentials {
  position: fixed;
  top: 160px;
  margin-left: 630px;
  color: red;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  border-radius: 40px;
  margin-top: 18px;
}