@import '../styles/variables';

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .form {
    width: 300px;
    padding: 20px;
  }
  
  .form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--primary-color);
    outline: none;
  }

  .form label {
    color: var(--secondary-color);
    font-weight: bold;
  }
  
  .form button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .form span {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .form button:hover {
    background-color: var(--secondary-color);
  }

  .link {
    margin-top: 8px;
  }
  
  .link a {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .link a:hover {
    background-color: var(--secondary-color);
  }

  .button-logout {
    position: fixed;
    top: 16px;
    right: 20px;
    color: var(--primary-color);
  }

  .bad-credentials {
    position: fixed;
    top: 160px;
    margin-left: 630px;
    color: red;
  }

  .user-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-picture {
    border-radius: 40px;
    margin-top: 18px;
  }