@import '../styles/variables';

.profile-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 60px;
}

.profile-container form {
  display: flex;
  flex-direction: column;
}

.profile-container label {
  color: var(--secondary-color);
  margin-top: 10px;
}

.profile-container input[type="text"],
.profile-container select,
.profile-container textarea {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.photo-upload-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.photo-placeholder {
  width: 90px;
  height: 90px;
  background-color: #eaeaea;
  border: dashed 2px #ccc;
  border-radius: 4px;
}

.button-info {
  margin-top: 20px;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}