@import '../../styles/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 16px;
  }
  
  .navLinks {
    display: flex;
    list-style: none;
  }
  
  .home {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 18px;
    &:hover {
      background-color: var(--secondary-color);
    }
  }

  .navLinks a {
    text-decoration: none;
}