@import '../../styles/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    margin-bottom: 32px;
}

.logo {
    width: 150px;
}

.navLinks {
    padding: 8px;
    display: flex;
    gap: 8px;
    list-style: none;
}

.menuButton {
    display: none;
}

.navLinks a {
    text-decoration: none;
}

@media (max-width: 700px) {
    .navLinks {
        display: none;
        flex-direction: column;
        position: relative;
        gap: 4px;
    }

    .navLinks.show {
        display: flex;
    }

    .menuButton {
        cursor: pointer;
        display: flex;
        width: 50px;
        height: 50px;
    }
}